@import "variables.css";
@import "header.css";

/* ADULT PROGRAMS */
/* TODO: import adultprograms.css into styles.css */
#adultprograms header .page-heading {
    background-image: url(../images/lap-swimming.jpeg); 
    background-size: 100% auto;
    height: 30em;
    /* margin-top: -10px; */
}

.page-heading h1 {
    font-size: 3.5rem; /* Increase or decrease this value to resize (e.g., 2.5rem, 3rem, 4rem) */
    color: #ffffff;
    font-family: 'Georgia', serif;
    font-weight: bold;
    text-align: center;
}


