@import "variables.css";
@import "header.css";
@import "awards.css";
@import "footer.css";

/* HOME */
#home header {
    aspect-ratio: 1440/850; /* width/height of background image */
}
#home header .page-heading {
    background-image: url(../images/home.jpeg);
    background-size: 100% auto;
    aspect-ratio: 1440/850; /* width/height of background image */
}
#home header .page-heading h1 {
    height: auto;
    margin: 1em 0;
}
#home header .page-heading button {
    position: relative;
    padding: 2em;
    font-family: var(--open-sans);
    font-weight: 600px;
    font-size: 20px;
    color: var(--blue);
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 5px;
}
@media (max-width: 576px) {
    #home header .page-heading .page-heading-buttons {
        flex-direction: column;
    }
}

#home main #ads {
    text-align: center;
}
#home main #ads img{
    margin: 10px 0;
}
#home main #hands-on-teaching {
    background: no-repeat lightgrey url(../images/home-hands-on-teaching.jpeg);
    background-size: 1500px;
    height: 574px;
}
#home main #hands-on-teaching > * {
    width: 500px;
    margin-left: 100px;
}
#home main #home-locations {
    background: no-repeat lightgrey url(../images/home-our-locations-bg.jpeg);
    background-size: 1500px;
    height: 752px;
}
